@import url("https://fonts.googleapis.com/css2?family=Secular+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font: ;
}

/* - SPACING SYSTEM (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128



- FONT SIZE SYSTEM (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98 */

/* spacing: {
  '2': '0.125rem',   // 2px
  '4': '0.25rem',    // 4px
  '8': '0.5rem',     // 8px
  '12': '0.75rem',   // 12px
  '16': '1rem',      // 16px
  '24': '1.5rem',    // 24px
  '32': '2rem',      // 32px
  '48': '3rem',      // 48px
  '64': '4rem',      // 64px
  '80': '5rem',      // 80px
  '96': '6rem',      // 96px
  '128': '8rem',     // 128px
},
fontSize: {
  '10': '0.625rem',  // 10px
  '12': '0.75rem',   // 12px
  '14': '0.875rem',  // 14px
  '16': '1rem',      // 16px
  '18': '1.125rem',  // 18px
  '20': '1.25rem',   // 20px
  '24': '1.5rem',    // 24px
  '30': '1.875rem',  // 30px
  '36': '2.25rem',   // 36px
  '44': '2.75rem',   // 44px
  '52': '3.25rem',   // 52px
  '62': '3.875rem',  // 62px
  '74': '4.625rem',  // 74px
  '86': '5.375rem',  // 86px
  '98': '6.125rem',  // 98px
}, */

@layer base {
  * {
    font-family: "Secular One", sans-serif;
    font-weight: 400;
    font-style: normal;
    direction: rtl;
  }
}

@layer components {
  .section {
    width: 100%;
    height: 100vh; /* Full viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .shirt {
    height: 30vh; /* Full viewport height */
  }

  .background-sction-1 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.4), rgb(0, 0, 0, 0.1)),
      url(/assets/midjourneyBack.png);

    /* making the section a little higher than the viewport */
    background-size: cover;
  }

  .background-sction-2 {
    background-image: linear-gradient(rgb(0, 0, 0, 0.2), rgb(0, 0, 0, 0.1)),
      url(/assets/cool-background.png);

    /* making the section a little higher than the viewport */
    background-size: cover;
  }
}

@layer utilities {
}
